{% extends parent_template|default:'myportfolio/base_portfolio.html' %}
{% load static %}

{% block content %}
<body>
    <div class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-3 text-uppercase mb-3">{{project.title}}</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'homepage' %}">Home</a></h6>
            <h6 class="m-0 px-3">/</h6>
            <h6 class="text-uppercase m-0">{{project.title}}</h6>
        </div>
    </div>
    <div class="container-fluid py-5">
            <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid mb-4 mb-lg-0" src="{{project.main_image.url}}" alt="">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4 text-uppercase mb-4">Project Short Description</h1>
                    <h5 class="text-uppercase text-primary mb-3">{{project.summary_description}}</h5>
                    <p class="mb-4">{{project.initial_description|linebreaks}}.</p>
                    <br>
                    </br>
                     <br>
                    </br>

                    <a href="{{project.github_link}}" class="btn btn-primary text-uppercase py-3 px-5"><i class="fa fa-github" style="font-size:24px">&nbsp&nbsp </i>GitHub Code</a>
                    {% if project.live_demo_link %}
                        <a href="{{project.live_demo_link}}" class="btn btn-primary text-uppercase py-3 px-5"><iconify-icon icon="simple-icons:heroku" width="24" height="24"></iconify-icon>&nbsp&nbsp </i>Live Demo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


<body>

<div class="container-fluid py-5">
        <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="{{techs.image.url}}" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 text-uppercase mb-4">TOOLS AND TECHNOLOGIES</h1>
                <h5 class="text-uppercase text-primary mb-3">{{project.project_description|slice:'0:18'}}</h5>
                <p class="mb-1">{{project.project_description|slice:'18:'|linebreaks}}.</p>

                <br>
                </br>
                 <br>
                </br>


            </div>
        </div>
    </div>
</div>


</body>

{% endblock content %}